.EncryptedText {
    font-size: 1.3rem;
    min-width: 320px;
    background-color: indianred;
    label {
        margin-top: 1rem;
    }
    textarea {
        margin-bottom: 1rem;
        background-color: lighten(indianred, 30%);
    }
}