.Key {
    text-align: left;
    font-size: 1.3rem;
    // box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.75);
    label {
        margin-top: 1rem;
    }
    input {
        background-color: lighten(#ffc107, 40%);
    }
}
#eye {
    position: relative;
    left: -50px;
    bottom: -10px;
    cursor: pointer;
}